<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script> 
    <title>Ejercicio 5</title>
<style type="text/css">
    .contenedor {
        margin-top: 1.25rem;
        background-color: white;
        border: 2px solid;
        border-color:white;
        border-radius: 0.5rem;
        padding: 1rem;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
    @media (min-width: 640px) {
        .contenedor {
            margin-left: auto;
            margin-right: auto;
            width: auto;
        }
    }
    @media (min-width: 768px) {
        .contenedor{
            width: 75%;
        }
    }
    @media (min-width: 1024px) {
        .contenedor{
            width: 50%;
        }
    }
    .bodyGeneral {
        background-color : #e2e8f0
    }

    .border{
        border-radius: 0.5rem;
        padding: 0.5rem;
        border: 2px solid;
        border-color: #f1f5f9
    }

    ul{
        list-style: none;
    }

    ul:hover{
        background-color : #f8fafc;
        cursor: pointer;
    }

    .colorIcon{
        color: #cbd5e1;
    }

    .text{
        margin-left: 0.5rem;
        margin-top: 0.2rem;
        
    }
    p{
        font-family: "Lucida Console", "Courier New", monospace;
    }
    .flex {
        display:flex;
        
    }
    .center{
        justify-content: center;
        align-items: center;
    }
</style>
</head>
    <body class="bodyGeneral">
        <div id="app">
            <div class="contenedor">
                <ul v-for="(user,index) in users" :key="user.id" class="border">
                    <li @click="changeCard(index) " > 
                        <div v-if="user?.isOpen == false || user?.isOpen === undefined">
                            <p class="flex center">  
                                <span class="material-icons colorIcon">people</span>
                                <strong class="text">{{user.name}}</strong>
                            </p>
                            <p class="flex center">
                                <span class="material-icons colorIcon">phone</span>
                                <span class="text">{{user.phone}}</span>
                            </p>
                            <p class="flex center">
                                <span class="material-icons colorIcon">email</span>
                                <span class="text">{{user.email}}</span>
                            </p>
                        </div>
                        <div v-else >
                            <div>
                                <p class="flex">  
                                    <span class="material-icons colorIcon">person</span>
                                    <strong class="text">  {{user.username}}</strong>
                                </p>
                            </div>
                            <div> 
                                <label><strong class="text">Company </strong></label>
                                <p><strong>Name : </strong> {{user.company.name}}</p>
                                <p><strong>CatchPhrase :</strong> {{user.company.catchPhrase}}</p>
                                <p><strong>Bs : </strong>{{user.company.bs}}</p>
                            </div>
                            <address>
                                <label> <strong class="text"> Address </strong></label>
                                <p> <strong>Street</strong>  {{ user.address.street}} </p>
                                <p> <strong>Suit</strong> {{user.address.suite}}</p>
                                <p> <strong>City</strong> {{user.address.city}}</p>
                                <p> <strong>Zipcode</strong>{{user.address.zipcode}}</p>
                            </address>
                            <area>
                                <iframe 
                                width="300" 
                                height="170" 
                                frameborder="0" 
                                scrolling="no" 
                                marginheight="0" 
                                marginwidth="0" 
                                :src="`https://maps.google.com/maps?q=${user.address.geo.lat},${user.address.geo.lng}+&hl=es&z=14&amp;output=embed`"
                                >
                                </iframe>
                            </area>
                        </div>
                    </li>
                </ul>
            <div>
        </div>
    </body>
</html>

<script type="application/javascript"> 
  const { createApp } = Vue
  createApp({
    data() {
      return {
        isLoading :false,
        message: 'Hello Vue!',
        users:[],
        isOpen:true
      }
    },
    mounted(){
        this.loadUser();
    },
    methods:{
        changeCard(indexPerson){
            this.users[indexPerson].isOpen = this.users[indexPerson]?.isOpen === undefined ? true  : !this.users[indexPerson].isOpen
        },
        loadUser(){
            fetch("https://jsonplaceholder.typicode.com/users")
            .then(response => response.json())
            .then(users =>   this.users = users);
        }
    },
  }).mount('#app')
</script>

